.menu0{
    
    width: 400px;
    height: 20px;
    
    
    
    
}

#searchgame{
    margin-left:40px;
    height: 20px;
    font-size: 16px;
    overflow: hidden;
} 

.menu0 li{
    
    display:block;
    
    float: left;
    
    padding: 4px 0;
    
    width:100px;
    
    text-align: center;
    
    cursor:pointer;
    font-size: 14px;
    
    
    color: lightgrey;
    /*box-shadow: 1px 1px 2px 1px black;
    padding: 4px 0;*/
    
}

.menu0 li.hover{
    /*box-shadow:-5px -5px 3px 0.5px black; */
    color:black;/*dark*/
    font-weight: bolder;
    font-size: 15px;
    
    
}

#main0 ul{
    
    display: none;  
    
}  

#main0 ul.block{  
    
    display: block;  
    
}